<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div th:switch="${products}">
        <h1>Товары</h1>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.count_prod}"></td>
                <td><a th:href="@{product-update/{id}(id=${product.id})}">Редактировать</a></td>
                <td><a th:href="@{product-delete/{id}(id=${product.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/product-create">Создать продукт</a></p>
    <p><a href="/">Главная</a></p>
</body>
</html>